<html lang="en">
<head>
    <meta name="google-signin-scope" content="profile email"/>
    <meta name="google-signin-client_id" content="467457794147-1napntsc79ij2dj92eom7cvnjtu29fp7.apps.googleusercontent.com"/>
    <script src="https://apis.google.com/js/platform.js"></script>
</head>
<body>
<div class="g-signin2"  data-onsuccess="onSignIn" data-theme="dark"></div>

<script>
      function onSignIn(googleUser) {
        window.location.href = "http://localhost:8080/maps";
      };
    </script>
</body>
</html>